<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base2::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>

<section>

    <div class="card mr-3">

        <div class="card-body">

            <h1 class="text-center">Add Contacts</h1>

            <div class="container-fluid mt-1">

                <div class="row">


                    <div class="col-md-10 offset-md-1">


                        <form action="#"
                        th:object="${contact}"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{/user/process-contact}"
                              class="mt-2"

                        >

<!--                            FirstName-->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="firstName" name="name" placeholder="Enter First Name" class="form-control">
                                </div>
                            </div>

                            <!--SecondName-->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="secondName" name="secondName" placeholder="Enter Second Name" class="form-control">
                                </div>
                            </div>

<!--    Phone number-->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                    </div>
                                    <input type="tel" id="phoneNumber" name="phone" placeholder="Enter Phone Number" class="form-control">
                                </div>
                            </div>
<!--Email-->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                    </div>
                                    <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
                                </div>
                            </div>

<!--WorkField-->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="work" name="work" placeholder="Enter WorkField" class="form-control">
                                </div>
                            </div>


<!--                            Descrption-->

                                <div class="form-group mt-3">

                                    <textarea placeholder="Enter Contact Description " name="description" rows="10"  class="form-control"></textarea>
                                </div>
<div class="customfile">
    <span>Upload Contact Profile</span>
    <input type="file" name="profileImg"/>
</div>

                            <div class="container text-center" >
                                <button class="btn btn-outline-primary text-center" >Save Contact</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>


    </div>
<script>
    $(document).ready(()=>{
    $('.item').removeClass('active');
    $("#add-link").addClass("active");

    });
</script>
</section>

</body>
</html>